header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-select {
    width: 80%;
    height: 50px;
}

.div-resultado {
    width: 60%;
    height: 50px;
    background-color: rgb(208, 232, 149);
    margin: 20px;
    border-radius: 5px;
}

select{
    width: 70%;
    height: 200px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}