<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="secret" value="c5c1ba35fde9f9f76621151d7b35b40e" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="WebServiceWCF.WebServiceWCF" behaviorConfiguration="ServiceBehavior">
				<endpoint
					address=""
					binding="webHttpBinding"
					behaviorConfiguration="WebServiceWCFEndPointBehavior"
					contract="WebServiceWCF.IWebServiceWCF" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="WebServiceWCFEndPointBehavior">
					<webHttp helpEnabled="true"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
